<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <% if user_signed_in? %>
    <li><a class="dropdown-item" href="#"><%= link_to 'Editar perfil', edit_user_registration_path %></a></li>
    <li><a class="dropdown-item" href="#"><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></a></li>
  <% else %>
    <li><a class="dropdown-item" href="#"><%= link_to 'Regístrate', new_user_registration_path %></a></li>
    <li><a class="dropdown-item" href="#"><%= link_to 'Iniciar sesión', new_user_session_path %></a></li>
  <% end %>
</ul>